<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    
</head>

<body>
    <div class="cmpostin"><img src="https://hackathonrafsa.blob.core.windows.net/hackathonblob/Postin.gif" /></div>

    <div class="cmheader">Welcome Sgt Smith</div>

    <div class="cmask">Please select which posting opportunity you are enquiring about</div>
    <br />
    <div class="cmdropdown"><img src="https://hackathonrafsa.blob.core.windows.net/hackathonblob/dropdowns.png" /></div>
    <br />
    <div class="cmjob">90SU 2 Sqn Tech 14</div>
    <br />
    <div class="cmstat">2 YES - 185 NO</div>
    <div class="table">
        <table>
            <tr>
                <th>Name</th>
                <th>Service No</th>
                <th>FAD End Date</th>
                <th>Decision</th>
            </tr>
            <tr>
                <td>Daniel Johnson</td>
                <td>30000123</td>
                <td>11 Dec 21</td>
                <td><div class="tableyes"><img src="https://hackathonrafsa.blob.core.windows.net/hackathonblob/yes.png" /> <img src="https://hackathonrafsa.blob.core.windows.net/hackathonblob/no.png" /></div></td>

            </tr>
            <tr>
                <td>Sarah Jones</td>
                <td>30003433</td>
                <td>19 Sep 21</td>
                <td><div class="tableyes"><img src="https://hackathonrafsa.blob.core.windows.net/hackathonblob/yes.png" /> <img src="https://hackathonrafsa.blob.core.windows.net/hackathonblob/no.png" /></div></td>
            </tr>
        </table>
    </div>

</body>
</html>