{% extends "layout.html" %}
{% block content %}
<div class="welcometitle"> Welcome to PosTin!</div>
<div class="checkdetails">Please check your details and preferences are correct below! <br />If not, please update your JPA via the link below and come back to us!</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="checkdetails">By clicking 'LETS GO' below you are confirming that the</br> above details are correct and that you agree and will</br> adhere to the User SyOps located <a href="https://hackathonrafsa.blob.core.windows.net/hackathonblob/20210705-POSTIN SyOPs.pdf"</a>HERE.</div>
</br>
</br>
<div class="profilelinks"><a href="https://defencehumanists.org.uk/jpa/"</a><img src="https://hackathonrafsa.blob.core.windows.net/hackathonblob/JPA.png" style="width: 100px; position: absolute; left: 30%" /><a href="{{ url_for('home') }}"><img src="https://hackathonrafsa.blob.core.windows.net/hackathonblob/letsgo.png" style="width: 100px; position: absolute; right: 30%" /></a></div>
</br>
</br>
</br>
</br>
</br>
</br>
{% endblock %}
